!**/package-lock.json
!TrescopeServer/third/plotly.js/tasks/util/
!TrescopeServer/third/plotly.js/tasks/preprocess.js
!TrescopeServer/third/plotly.js/tasks/find_locale_strings.js
!TrescopeServer/third/plotly.js/tasks/bundle.js
!TrescopeServer/third/plotly.js/tasks/header.js
!TrescopeServer/third/plotly.js/tasks/stats.js
!TrescopeServer/third/plotly.js/tasks/compress_attributes.js

**/__pycache__
**/.DS_Store
**/.idea
**/node_modules

Trescope4Python/library/doc/
TrescopeServer/universal/scene-json-renderer/lib/
!TrescopeDoc/_build/
TrescopeServer/third/plotly.js/test/image/export_test.js
